@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-auto {
  scrollbar-color: green blue;
}

::-webkit-scrollbar {
  background-color: rgb(49, 50, 68);
  border-radius: 100px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(88, 91, 112);
  border-radius: 100px;
}

html,
body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
